Repository gmkseta/ddns-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🐳 docker, 🔧 config, 📚 documentation, 🧪 testing, 🤖 ci/cd, 🔒 security, 📊 database, 🎯 feature, 📦 dependencies, 🏷️ types, 🎨 styling

feat: Next.js 15 + next-intl 호환성 개선 및 UI 리팩토링
  GUIDE.md
  README.ja.md
  README.ko.md
  README.md
  middleware.ts
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/DNSRecordManager.tsx
  src/components/DNSRecordPage.tsx
  src/components/DashboardLayout.tsx
  src/components/Header.tsx
  src/components/IPChecker.tsx
  src/components/LanguageSwitcher.tsx
  src/components/Navbar.tsx
  src/components/StatusCards.tsx
  src/i18n/request.ts
  src/i18n/routing.ts
  src/messages/en.json
  src/messages/ja.json
  src/messages/ko.json
  src/providers/ThemeProvider.tsx
  src/utils/api.ts
  src/utils/constants.ts
  src/utils/format.ts
  src/utils/sort.ts
  src/utils/storage.ts
  src/utils/toast.ts
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 📚 documentation

fix: 브라우저 언어 자동 감지 및 언어 스위처 중첩 경로 문제 해결
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/components/LanguageSwitcher.tsx
  src/i18n/routing.ts
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🎨 styling

feat: comprehensive UI/UX improvements and enhanced functionality
  .github/workflows/cd.yml
  Dockerfile
  GUIDE.md
  README.ja.md
  README.ko.md
  README.md
  next.config.ts
  src/app/[locale]/page.tsx
  src/app/api/ddns/toggle/route.ts
  src/app/api/ddns/update/route.ts
  src/components/EditRecordModal.tsx
  src/components/Header.tsx
  src/components/Toast.tsx
  src/messages/en.json
  src/messages/ja.json
  src/messages/ko.json
  src/utils/api.ts
  src/utils/constants.ts
  src/utils/sort.ts
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🐳 docker, 🔧 config, 📚 documentation, 🤖 ci/cd

✨ Code quality improvements
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/api/config/apikey/route.ts
  src/app/api/ddns/toggle/route.ts
  src/app/api/ddns/update/route.ts
  src/app/api/export/route.ts
  src/components/APIKeyManager.tsx
  src/components/AddRecordModal.tsx
  src/components/EditRecordModal.tsx
  src/components/LanguageSwitcher.tsx
  src/components/Toast.tsx
  src/i18n/request.ts
  src/lib/auth.ts
  src/lib/cloudflare.ts
  src/lib/database.ts
  src/lib/scheduler.ts
  src/utils/api.ts
  src/utils/sort.ts
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🔒 security, 📊 database

fix: Add security-events permission for CodeQL SARIF upload
  .github/workflows/cd.yml
Labels: ⚡ backend, 🤖 ci/cd

🚀 Optimize CI/CD: Fix SARIF upload permissions & enhance Docker build caching
  .github/workflows/cd.yml
  Dockerfile
Labels: ⚡ backend, 🐳 docker, 🤖 ci/cd

🔧 Fix CI CodeQL permissions: Add security-events write permission
  .github/workflows/ci.yml
Labels: ⚡ backend, 🤖 ci/cd

feat: Improve scheduler logs and UI enhancements
  CLAUDE.md
  package.json
  src/app/[locale]/page.tsx
  src/app/api/ddns/update/route.ts
  src/app/api/scheduler/status/route.ts
  src/app/page.tsx
  src/components/DNSConfigSection.tsx
  src/components/DNSRecordsTable.tsx
  src/components/DNSTabNavigation.tsx
  src/components/LanguageSwitcher.tsx
  src/components/SchedulerLogs.tsx
  src/components/TabNavigation.tsx
  src/lib/cloudflare.ts
  src/lib/database.ts
Labels: 🎨 frontend, ⚡ backend, 🔧 config, 📚 documentation, 📊 database, 📦 dependencies

fix: Remove incorrectly created page.tsx file to fix build error
  CLAUDE.md
  src/app/page.tsx
Labels: 🎨 frontend, ⚡ backend, 📚 documentation

perf: Optimize Docker build caching and GitHub Actions
  .dockerignore
  .github/workflows/cd.yml
  Dockerfile
Labels: ⚡ backend, 🐳 docker, 🤖 ci/cd

fix: Remove non-existent messages folder from Dockerfile
  Dockerfile
Labels: ⚡ backend, 🐳 docker

feat: 여러 개선사항 및 버그 수정
  .env.example
  DOCKER-COMPOSE.md
  docker-compose.yml
  src/app/page.tsx
  src/components/DNSRecordsTable.tsx
  src/components/LoginForm.tsx
  src/components/SchedulerLogs.tsx
  src/i18n/routing.ts
  src/lib/scheduler.ts
  src/messages/en.json
  src/messages/ja.json
  src/messages/ko.json
  start-local.sh
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🐳 docker, 🔧 config, 📚 documentation

fix: 프로덕션 빌드 에러 수정
  middleware.ts
  src/app/page.tsx
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend

feat: 다국어 지원 및 모바일 최적화, Buy me a coffee 링크 추가
  PROJECT_CONTEXT.md
  README.md
  middleware.ts
  package.json
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/api/export/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ExportImportModal.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Toast.tsx
  src/i18n/routing.ts
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 🔧 config, 📚 documentation, 📦 dependencies

docs: Docker Compose 환경변수 설정 개선 및 다국어 README 업데이트
  .env.example
  README.ja.md
  README.ko.md
  README.md
  docker-compose.yml
Labels: ⚡ backend, 🐳 docker, 🔧 config, 📚 documentation

fix: Fix Docker CSS issues with Tailwind CSS v4
  Dockerfile
  postcss.config.mjs
Labels: 🎨 frontend, ⚡ backend, 🐳 docker

feat: Add proxied toggle in DNS record edit/add modals
  src/components/AddRecordModal.tsx
  src/components/EditRecordModal.tsx
Labels: 🎨 frontend, ⚡ backend

docs: Add Docker image update instructions
  README.ja.md
  README.ko.md
  README.md
  docker-compose.yml
Labels: ⚡ backend, 🐳 docker, 📚 documentation

fix: Fix dark mode styles in login form
  src/components/LoginForm.tsx
Labels: 🎨 frontend, ⚡ backend

fix: Fix API key selection and export modal issues
  src/components/DNSConfigSection.tsx
  src/components/ExportImportModal.tsx
Labels: 🎨 frontend, ⚡ backend

fix: Fix ESLint warnings in ExportImportModal
  src/components/ExportImportModal.tsx
Labels: 🎨 frontend, ⚡ backend

fix: Add credentials to all API requests to prevent auth issues
  src/components/ExportImportModal.tsx
  src/utils/api.ts
Labels: 🎨 frontend, ⚡ backend

fix: Handle empty API keys and auto-logout on 401 errors
  src/app/[locale]/page.tsx
  src/utils/api.ts
Labels: 🎨 frontend, ⚡ backend

fix: Fix infinite redirect loop on login page
  package.json
  src/utils/api.ts
Labels: ⚡ backend, 🔧 config, 📦 dependencies

fix: Improve initial user experience and build optimization
  .dockerignore
  .github/workflows/cd.yml
  Dockerfile
  next.config.ts
  postcss.config.mjs
  src/app/[locale]/page.tsx
  src/lib/scheduler.ts
Labels: 🎨 frontend, ⚡ backend, 🐳 docker, 🔧 config, 🤖 ci/cd

fix: Integrate APIKeyManager and fix Add API Key button functionality
  src/app/[locale]/page.tsx
  src/components/APIKeyManager.tsx
  src/components/DNSConfigSection.tsx
  src/components/DNSTabNavigation.tsx
Labels: 🎨 frontend, ⚡ backend

fix: Improve cookie handling for proxy/HTTPS environments
  .env.example
  README.md
  src/app/api/auth/login/route.ts
Labels: ⚡ backend, 🔧 config, 📚 documentation, 🔒 security

fix: Improve cookie domain handling for proxy environments
  .env.example
  .idea/.gitignore
  .idea/ddns-ui.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  next.config.ts
  src/app/api/auth/login/route.ts
  src/lib/utils.ts
Labels: ⚡ backend, 🔧 config, 📚 documentation, 🔒 security

v0.0.6: Fix dark mode support and improve API key management
  package.json
  src/components/APIKeyManager.tsx
  src/components/SchedulerLogs.tsx
Labels: 🎨 frontend, ⚡ backend, 🔧 config, 📦 dependencies

docs: Add screenshots and fix TypeScript lint error
  README.ja.md
  README.ko.md
  README.md
  docs/images/login-page.png
  docs/images/main-dashboard.png
  src/app/api/auth/login/route.ts
Labels: ⚡ backend, 📚 documentation, 🔒 security

feat: Add development environment support with mock data and internationalization
  README.ja.md
  README.ko.md
  README.md
  src/components/DNSTabNavigation.tsx
  src/components/SchedulerLogs.tsx
  src/lib/cloudflare.ts
  src/lib/database.ts
  src/lib/scheduler.ts
  src/lib/seed-data.ts
  src/messages/en.json
  src/messages/ja.json
  src/messages/ko.json
Labels: 🌍 i18n, 🎨 frontend, ⚡ backend, 📚 documentation, 📊 database

chore: Remove development seed data and mocking code
  src/lib/cloudflare.ts
  src/lib/database.ts
  src/lib/scheduler.ts
  src/lib/seed-data.ts
Labels: ⚡ backend, 📊 database

docs: Update screenshots and add more detailed preview images
  README.ja.md
  README.ko.md
  README.md
  docs/images/dashboard-1.png
  docs/images/dashboard-2.png
  docs/images/log.png
  docs/images/login-page.png
  docs/images/login.png
  docs/images/main-dashboard.png
Labels: ⚡ backend, 📚 documentation

docs: Improve README clarity with DDNS explanation and use cases
  README.ja.md
  README.ko.md
  README.md
Labels: ⚡ backend, 📚 documentation

chore: Update dependabot configuration
  .github/dependabot.yml
Labels: ⚡ backend, 🤖 ci/cd

fix(security): patch CVE-2025-55182 React2Shell vulnerability
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  eslint.config.mjs
  next.config.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: ⚡ backend, 🔧 config, 🤖 ci/cd, 📦 dependencies

fix: use nodejs runtime for middleware
  middleware.ts
Labels: 🌍 i18n, ⚡ backend

feat: add test suite, fix security issues, refactor page component
  package.json
  src/__tests__/api/export-import.test.ts
  src/__tests__/lib/auth.test.ts
  src/__tests__/lib/cloudflare.test.ts
  src/__tests__/lib/scheduler.test.ts
  src/__tests__/setup.ts
  src/__tests__/utils/format.test.ts
  src/__tests__/utils/sort.test.ts
  src/__tests__/utils/storage.test.ts
  src/app/[locale]/page.tsx
  src/app/api/export/route.ts
  src/app/api/health/route.ts
  src/app/api/import/route.ts
  src/hooks/useDDNSManager.ts
  src/lib/auth.ts
  vitest.config.ts
  yarn.lock
Labels: 🎨 frontend, ⚡ backend, 🔧 config, 🧪 testing, 🔒 security, 📦 dependencies

fix: resolve ESLint warnings and type errors for CI
  src/__tests__/lib/auth.test.ts
  src/__tests__/lib/cloudflare.test.ts
  src/app/[locale]/page.tsx
  src/app/api/import/route.ts
Labels: 🎨 frontend, ⚡ backend, 🧪 testing, 🔒 security

chore: add MIT license file
  LICENSE
Labels: ⚡ backend

.github/labeler.yml:

# PR 자동 라벨링 규칙

# 🌍 다국어/국제화 관련
'🌍 i18n':
  - src/messages/**/*
  - src/i18n/**/*
  - '**/locale/**/*'
  - middleware.ts

# 🎨 UI/프론트엔드 변경
'🎨 frontend':
  - src/components/**/*
  - src/app/**/*.tsx
  - '**/*.css'
  - 'tailwind.config.*'
  - 'postcss.config.*'

# ⚡ API/백엔드 변경  
'⚡ backend':
  - src/app/api/**/*
  - src/lib/**/*
  - '**/*.ts'
  - '!src/components/**/*'
  - '!src/app/**/page.tsx'
  - '!src/app/**/layout.tsx'

# 🐳 Docker/배포 관련
'🐳 docker':
  - Dockerfile
  - docker-compose.yml
  - '.dockerignore'

# 🔧 설정 파일 변경
'🔧 config':
  - package.json
  - yarn.lock
  - tsconfig.json
  - next.config.*
  - eslint.config.*
  - '.env*'

# 📚 문서 변경
'📚 documentation':
  - '**/*.md'
  - 'docs/**/*'

# 🧪 테스트 관련
'🧪 testing':
  - '**/*.test.*'
  - '**/*.spec.*'
  - '__tests__/**/*'
  - 'cypress/**/*'

# 🤖 GitHub Actions/CI 변경
'🤖 ci/cd':
  - '.github/**/*'

# 🔒 보안 관련
'🔒 security':
  - 'src/lib/auth.ts'
  - 'src/app/api/auth/**/*'
  - '**/*security*'
  - '**/*auth*'

# 📊 데이터베이스 관련
'📊 database':
  - 'src/lib/database.ts'
  - '**/*db*'
  - '**/*database*'
  - '**/*.sql'

# 🎯 기능 추가
'🎯 feature':
  - any: ['src/components/**/*', 'src/app/**/*']

# 🐛 버그 수정 (PR 제목으로 감지)
'🐛 bugfix':
  - head-branch: ['^fix/', '^bugfix/', '^hotfix/']

# 📦 의존성 변경  
'📦 dependencies':
  - package.json
  - yarn.lock
  - package-lock.json

# 🔄 리팩터링
'🔄 refactor':
  - head-branch: ['^refactor/']

# ✨ 개선사항
'✨ enhancement':
  - head-branch: ['^feat/', '^feature/', '^enhance/']

# 🏷️ 타입 정의 변경
'🏷️ types':
  - '**/*.d.ts'
  - 'types/**/*'

# 🎨 스타일링 변경
'🎨 styling':
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
